html{
  background: #210002 ;
}

.body {
  margin: -5px;
}

.keyart, .keyart_layer {
	height: 1000px;
}

#parallax {
	display: none;
}

.keyart {
	position: relative;
	z-index: 10;
}

.keyart_layer {
	background-position: bottom center;
	background-size: auto 1038px;
	background-repeat: repeat-x;
	width: 100%;
	position: absolute;
}
.keyart_layer.parallax {
	position: fixed;
}
	#keyart-0 {
		background-image: url('/src/images/parallax/parallax0.png');
		background-color: #ffaf1b;
	}
	#keyart-1 {
		background-image: url('/src/images/parallax/parallax1.png');
	}
	#keyart-2 {
		background-image: url('/src/images/logo.png');
    background-size: 400px;
    background-position: top;
    background-repeat: no-repeat;
	}
	#keyart-3 {
		background-image: url('/src/images/parallax/parallax3.png');
	}
	#keyart-4 {
		background-image: url('/src/images/parallax/parallax4.png');
	}
	#keyart-5 {
		background-image: url('/src/images/parallax/parallax5.png');
	}
	#keyart-6 {
		background-image: url('/src/images/parallax/parallax6.png');
	}
	#keyart-7 {
		background-image: url('/src/images/parallax/parallax7.png');
	}
	#keyart-8 {
		background-image: url('/src/images/parallax/parallax8.png');
	}
	#keyart-scrim {
		background-color: #ffaf00;
		opacity: 0;
	}

 .github::after{
   content: '';
   background-color: #181818;
   position: absolute;
    top: -35px;
    left: -15px;
    bottom: -5px;
    right: 0;
    z-index: -1;
    width: 5rem;
    border-radius: 20px;
  }

  .github{
    position: relative;
    top: -10px;
    left: 1px;
    display: block;
    font-size: 3.5rem;
    z-index: 40;
    color: white;
  }

  .github:hover{
    color: rgb(220, 211, 195);
  }

  #circle {
    width: 100px;
    height: 100px;
    background: #FFAF1B;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
    margin-bottom: 1.2rem;
  }
  
  .inner-circle {
    width: 75px;
    height: 75px;
    background: #210002;
    border-radius: 50%;
  }
  
  .grande-circle {
    transform: scale(1.8);
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem 2rem;
    background: #210002;
    z-index: 20;
    position: relative;
    color: #fff;
    font-family: DM Sans
  }

  .form h1{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 2px;
  }

  .form p{
    font-size: 1rem;
    font-weight: 400;
  }

  .form span{
    color: #ffaf00;
  }
  
  input {
    align-self: stretch;
    margin: .5rem 0;
    font-size: 1rem;
    padding: 1rem;
    background: #ffffff;
    color: #000000;
    font-weight: 700;
    font-size: 1rem;
  }

  .button{
    align-self: stretch;
    margin: 1rem 0;
    font-family: DM Sans;
    font-weight: 700;
    padding: 1rem;
    background: #ffaf00;
    color: #210002;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
  }

  .button:hover{
    background: #7b0008;
    color: #ffaf00;
  }

@media (min-width: 768px) {
  #parallax {
    display: block;
  }

  .form h1 {
    font-size:  3rem;
  }

  .form p {
    font-size: 1.5rem;
  }
}

@media (min-width: 994px){
  #circle {
    margin: 0;
  }

  .form{
    padding: 5rem;
  }

  .form h1{
    font-size: 4rem;
  }

  .form p{
    font-size: 2rem;
  }

  .button{
    font-size: 1.5rem;
  }
}
